@font-face {
    font-family: Montserrat;
    src: url("/static/font/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("/static/font/Montserrat-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("/static/font/Montserrat-Light.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("/static/font/Montserrat-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}