//-----------------------------
// Boostrap override
//-----------------------------

// Colors
$primary: #048DD3;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//-----------------------------
// Mes variables
//-----------------------------

// Fonts
$global-font-size: 1rem;

// Colors
$secondaryPerso: #2C3E50 !default;
$tertiaryPerso: #F27D48;

$navbar-orange: #dba919;
$base-page-white: #ecedee;

$gradient1: #00aeef;
$gradient2: #096fb9;




