.about-page {
  .left-side {
    //margin-top: 10vh;
    color: $secondaryPerso;
    text-align: left;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-bottom: 3rem;
    }
  }



  .fadein {
    opacity: 0;

    @include animation(fadein 1s);
    @include animation-fill-mode(forwards);
  }

  .title {
    @include animation-detail(0.7s);
    font-size: rem(42px);
    font-weight: bold;
  }

  .subtitle {
    @include animation-detail(1.7s);
    font-size: rem(33px);
  }

  .subsubTitle {
    @include animation-detail(2.7s);
    font-size: rem(18px);
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}


.organic-radius {
  border-radius: 63% 37% 30% 70%/50% 45% 55% 50%;
}

.border-primary {
  border-color: $bg-nav !important;
  border-color: white !important;
}

.profile-image img {
  border-width: .125rem;
  border-style: solid;
  padding: .25rem;
  background-color: white;
  max-width: 210px;
}

.description {
  position: relative;
}

.description::after {
  content: '”';
  font-size: rem(108px);
  font-weight: 800;
  right: 0;
  bottom: -150px;
  position: absolute;
}
