.contact-page {
  background-image: none !important;
  background-color: $bg-nav !important;
  overflow: hidden !important;

  @include media-breakpoint-down(xs) {
    &.base-page {
      padding-top: 5.5rem;
    }
  }    

  h1 {
    @include fluid-type(16px, 37px, 0px, map-get($map: $grid-breakpoints, $key: lg));
    font-weight: 800;
    color: #ffffff;
  }

  h2 {
    @include fluid-type(16px, 28px, 0px, map-get($map: $grid-breakpoints, $key: lg));
    color: #ffffff !important;
    font-weight: 200;

    a {
      color: #ffffff;
      font-weight: 800;
      line-height: 1.5;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      z-index: 10;
      &:hover {
        color: $secondaryPerso;
        text-decoration: none;
        
      }
    }      
  }

  /* Clouds */
  /*---------------------------------*/
  
  .cloud-contact-1 {
    width: 180px;
    bottom: -62px;
    left: -257px;

    -webkit-animation-duration: 2s;

            animation-duration: 2s;

    @include media-breakpoint-down(md) {
      bottom: -142px;
      left: -137px;
    }

    
  }
  
  .cloud-contact-2 {
    width: 115px;
    bottom: -160px;
    bottom: -160px;
    left: 11px;

    -webkit-animation-duration: 3s;

            animation-duration: 3s;

    @include media-breakpoint-down(md) {
      bottom: -250px;
      left: 41px;
    }      
  }

  .cloud-contact-3 {
    width: 115px;
    top: -60px;
    right: 20px;

    -webkit-animation-duration: 2s;

            animation-duration: 2s;

    @include media-breakpoint-down(md) {
      width: 75px;
      top: -30px;
      right: 20px;
    }      
  }

  .cloud-contact-4 {
    width: 275px;
    top: -20px;
    right: -500px;

    -webkit-animation-duration: 3s;

            animation-duration: 3s;
  }

  .cloud-contact-1, .cloud-contact-2 {
    -webkit-animation-name: animationCloud1;
            animation-name: animationCloud1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }    
  
  .cloud-contact-3, .cloud-contact-4 {
    -webkit-animation-name: animationCloud2;
            animation-name: animationCloud2;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }

  @-webkit-keyframes animationCloud1 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }

  @keyframes animationCloud1 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }

  
  @-webkit-keyframes animationCloud2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }

  
  @keyframes animationCloud2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }


  /* Planes */
  /*---------------------------------*/
  .plane, .plane-line {
    color: $bg-nav-darker;
    opacity: 0;

    -webkit-animation-timing-function: ease-in-out;

            animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    @include media-breakpoint-down(md) {
      -webkit-transform: translate(-250px, 250px);
          -ms-transform: translate(-250px, 250px);
              transform: translate(-250px, 250px);
    }

    @include media-breakpoint-down(xs) {
      -webkit-transform: translate(-160px, 180px);
          -ms-transform: translate(-160px, 180px);
              transform: translate(-160px, 180px);
    }

    &.plane-1 {
      font-size: 82px;
      bottom: -34px;
      right: -146px;       
      -webkit-animation-duration: 2s;       
              animation-duration: 2s;
      -webkit-animation-name: fadePlane, fadeInOpacity1;
              animation-name: fadePlane, fadeInOpacity1;
      @include media-breakpoint-down(md) {
        -webkit-animation-name: fadeInOpacity1;
                animation-name: fadeInOpacity1;
      }
    }
    
    &.plane-2 {
      font-size: 50px;
      bottom: 110px;
      right: -86px;
      -webkit-animation-duration: 3s;
              animation-duration: 3s;
      -webkit-animation-name: fadePlane, fadeInOpacity2;
              animation-name: fadePlane, fadeInOpacity2;    
      @include media-breakpoint-down(md) {
        -webkit-animation-name: fadeInOpacity2;
                animation-name: fadeInOpacity2;
      }
    }
    
    &.plane-3 {
      font-size: 25px;
      bottom: 200px;
      right: -146px;    
      -webkit-animation-duration: 4s;    
              animation-duration: 4s;
      -webkit-animation-name: fadePlane, fadeInOpacity3;
              animation-name: fadePlane, fadeInOpacity3;
      @include media-breakpoint-down(md) {
        -webkit-animation-name: fadeInOpacity3;
                animation-name: fadeInOpacity3;
      }
    }
  }    
  
  @-webkit-keyframes fadePlane {
    0% {
      -webkit-transform: translate(-50px, 50px);
              transform: translate(-50px, 50px);
    }
    100% {
      -webkit-transform: translateX(0px, 0px);
              transform: translateX(0px, 0px);
      //transform: translateY(0px);
    }
  }    
  
  @keyframes fadePlane {
    0% {
      -webkit-transform: translate(-50px, 50px);
              transform: translate(-50px, 50px);
    }
    100% {
      -webkit-transform: translateX(0px, 0px);
              transform: translateX(0px, 0px);
      //transform: translateY(0px);
    }
  }

  .plane-line {
    width: 285px;
    top: 269px;
    right: -84px;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    -webkit-animation-name: fadeInOpacity1;
            animation-name: fadeInOpacity1;
  }

  
  @include fadeInOpacity(1, 0, 1);
  @include fadeInOpacity(2, 0, 0.6);
  @include fadeInOpacity(3, 0, 0.3);

}
