.port-navbar.port-base {
  width: 100%;
  z-index: 15;
  padding: rem(40px);

  .port-navbar {
    &-brand {
      color: $white;
      font-size: rem(24px);
      text-transform: uppercase;
      letter-spacing: rem(1px);
      font-weight: bold;
    }

    &-item {
      margin-left: rem(10px);
      margin-right: rem(10px);
    }

    &-link {
      color: $white;
      font-weight: bold;
      letter-spacing: rem(0.8px);
      font-size: rem(18px);
      text-transform: uppercase;

      &.active {
      color: $navbar-orange;
      }

      &:hover, &:focus {
        color: $navbar-orange;
      }
    }
  }
  
  .port-dropdown-menu {

    .port-dropdown-item {
      color: $secondaryPerso;

      &.active {
        color: $navbar-orange;
      }
    }

    .port-dropdown-toggle {
      color: $white;
      margin-left: rem(10px);
      margin-right: rem(10px);
    }
  }
}

.port-navbar.port-base.port-nav-default {
  background-color: $secondaryPerso !important;
}

.bg-transparent.menu-open {
  background-color: $secondaryPerso !important;
}

.bg-transparent.menu-close {
  transition: 1s;
}

.dropdown-item:active {
  text-decoration: none;
  background-color: #ffffff;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: scale-color($base-page-white, $lightness: 60%);
}