.port-navbar.port-base {
  width: 100%;
  z-index: 15;
  padding: rem(28px) rem(40px);

  .port-navbar {
    &-brand {
      color: $white;
      font-size: rem(24px);
      text-transform: uppercase;
      letter-spacing: rem(1px);
      font-weight: bold;
      line-height: 1.2;
      text-align: right;
    }

    &-item {
      margin-left: rem(10px);
      margin-right: rem(10px);
    }

    &-link {
      color: $white;
      font-weight: bold;
      letter-spacing: rem(0.8px);
      font-size: rem(18px);
      text-transform: uppercase;

      &.active {
      color: $secondaryPerso;
        @include media-breakpoint-down(lg) {
          color: $bg-nav;
        }
      }

      &:hover, &:focus {
        color: $secondaryPerso;
        transition: all 0.5s ease;
        @include media-breakpoint-down(lg) {
          color: $bg-nav;
        }
      }
    }
  }
  
  .port-dropdown-menu {

    .port-dropdown-item {
      color: $secondaryPerso;
      margin-bottom: 0;

      &.active {
        color: $bg-nav;
      }
    }

    .port-dropdown-toggle {
      color: $white;
      margin-left: rem(10px);
      margin-right: rem(10px);
    }
  }
}

.dropdown-menu {
  border: none !important;
  border-radius: 0.5rem;
}

.port-navbar.port-base.port-nav-default {
  //background-color: $secondaryPerso !important;
  background-color: $bg-nav !important;
}


@include media-breakpoint-down(xs) {
  .port-navbar.port-base {
  padding: rem(16px) rem(24px);
  }

  .port-navbar.port-base.port-navbar-brand {
    font-size: rem(22px);
  }
}

@include media-breakpoint-down(lg) {
  .port-navbar.port-base.port-nav-default.menu-open {
    //background-color: $secondaryPerso !important;
    background-color: $secondaryPerso !important;
  }
}

.bg-transparent.menu-open {
  background-color: $secondaryPerso !important;
}

.bg-transparent.menu-close {
  transition: 1s;
}

.dropdown-item:active {
  text-decoration: none;
  background-color: #ffffff;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: scale-color($base-page-white, $lightness: 60%);
}

.logo-ij {
  width: 250px;

  @include media-breakpoint-down(xs) {
    width: 200px;
  }
}

.navbar-brand {
  span {
    margin-right: 0.7rem;
  }  
}

.navbar-toggler {
  @include media-breakpoint-down(xs) {
    padding: 0;
  }
}

.burger {
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  -webkit-tap-highlight-color: transparent; 
}

.burger .burger-lines:after {
  left: 0;
  top: -1em; 
}

.burger .burger-lines:before {
  left: 1em;
  top: 1em; 
}

.burger:after {
  content: '';
  display: block;
  position: absolute;
  height: 150%;
  width: 150%;
  top: -25%;
  left: -25%; 
}
.burger .burger-lines {
  top: 50%;
  margin-top: -0.125em; 
}
.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
  pointer-events: none;
  display: block;
  content: '';
  width: 100%;
  border-radius: 0.25em;
  background-color: white;
  height: 0.25em;
  position: absolute;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); 
}
.burger .burger-lines:after {
  left: 0;
  top: -1em; 
}

.burger .burger-lines:before {
  left: 1em;
  top: 1em; 
}

.burger.burger-rotate .burger-lines:after, .burger.burger-rotate .burger-lines:before {
  width: 2em; 
}

.burger.burger-rotate .burger-lines, .burger.burger-rotate .burger-lines:after, .burger.burger-rotate .burger-lines:before {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; 
}

.burger.burger-rotate.menu-open {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); 
}

.burger.burger-rotate.menu-open .burger-lines {
  background-color: transparent; 
}

.burger.burger-rotate.menu-open .burger-lines:before, .burger.burger-rotate.menu-open .burger-lines:after {
  left: 0.5em;
  top: 0px; 
}

.burger.burger-rotate.menu-open .burger-lines:before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); 
}

.burger.burger-rotate.menu-open .burger-lines:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); 
}