.cover {
  position: relative;
  background-color: $bg-nav;
}

.wrapper {
  min-height: 100vh;
  margin-top: 0;
  position: relative;
}

.main-section {
  top: 150px;
  width: 100%;
  padding: 180px 0 0;

  @include media-breakpoint-up(wide) {
    .container {
      max-width: 1310px;
    }
  }
}

.hero-section{
  h2 {
    color: $white;
    font-weight: bold;
    margin-bottom: rem(10px);
  }

  -webkit-perspective: 1000px;

          perspective: 1000px;
  color: $white;
  width: 100%;
  position: relative;

  &-content {
    z-index: 1;
    color: $white;
    padding: 0 rem(15px) 0;

    &-intro {
      line-height: $line-h-home;
      @include fluid-type($font-size-min-home, $font-size-max-home, 0px, map-get($map: $grid-breakpoints, $key: lg));
    }
  }
}

.self-typed {
  font-weight: bold;
  letter-spacing: rem(1px);
  color: $white;
  @include fluid-type(16px, 31px, 0px, map-get($map: $grid-breakpoints, $key: lg));
}

.image {
  width: auto;
  max-width: 475px;
}

.donuts {
  max-width: 440px;
  position: relative;
  @include media-breakpoint-between(xs, md) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .cloud-and-stars {
    top: 11px;
    left: -83px;
    width: 122%;
    display: none;
  }

  .cloud-up {
    top: 72px;
    left: 354px;
    width: 32%;
    z-index: -1;    
    display: none;
  }

  .cloud-down {
    top: 221px;
    left: 91px;
    width: 31%;
    z-index: -1;    
    display: none;
  }

  .shadow-donuts {
    top: 405px;
    left: 116px;
    width: 45%;    
    display: none;
  }
}

.hero-welcome-text > h1 {
  color: $white;
  margin-top: rem(105px);
  max-width: 480px;
  line-height: $line-h-home;
  @include fluid-type($font-size-min-home, $font-size-max-home, 0px, map-get($map: $grid-breakpoints, $key: lg));
  @include media-breakpoint-between(xs, md) {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-welcome-bio {
  margin-top: rem(20px);
  color: white;

  .fa-stack {
    font-size: rem(28px);
  }
}

.hero-welcome-wrapper {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

}

@media (max-width: 991px) {
  .hero-section {
    width: 100%;

    &-content {
      width: 100%;
    }
  }

  .hero-welcome-text > h1 {
    margin-top: 0px;
  }
}

.background-image {
  position: absolute;  
  width: 100%;
  height: 500px;
  background-image: url('/static/images/background-index.png');
  img {
    width: 100%;
    max-width: 1548px;
  }
}

.cover-0 {
}

.cover-1 {
}

.service-link {
  position: absolute;
  bottom: 0;
  color: $white;
  font-style: italic;
  font-size: rem(13px);

  > a {
    color: $white;
  }
}

.flip-container {
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.flip-container:hover .flipper.chrome-flip, .flip-container.hover .flipper.chrome-flip
, .flip-container.isFlipping .flipper.chrome-flip
{
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 100%;
}

.flipper {
  z-index: 2;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;

  position: relative;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;

  max-width: 490px;
  @include media-breakpoint-between(xs, md) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.flipper h2 {
  font-weight: 800;
  @include fluid-type(16px, 42px, 0px, map-get($map: $grid-breakpoints, $key: lg));
  @include media-breakpoint-up(lg) {
    white-space: nowrap;
  }
  @include media-breakpoint-down(sm) {
    white-space: nowrap;
  }
}

.front, .back {
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;  
}

.front {
  z-index: 2;
  
  -webkit-transform: rotateY(0deg);
  
          transform: rotateY(0deg);
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  margin-left: -100%;
}

@include media-breakpoint-down(xs) {
  .main-section {
    padding: 120px 0 0;
    &.samsung {
      padding: 130px 0 0;
    }
  }

  .hero-welcome-wrapper {
    margin-bottom: rem(50px);
  }
}

@-webkit-keyframes levitate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}
@keyframes levitate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}
.levitate {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: levitate;
  animation-name: levitate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}

@-webkit-keyframes shadow-scale {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scaleX(1.2);
    transform: scaleX(1.2);
    opacity: 1
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0.8;
  }
}
@keyframes shadow-scale {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scaleX(1.2);
    transform: scaleX(1.2);
    opacity: 1
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0.8;
  }
}
.shadow-scale {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: shadow-scale;
  animation-name: shadow-scale;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}