.portfolio-page {
  min-height: 100vh;
  padding: 150px 0 0;
  background-color: $base-page-white;

  .portfolio-card {
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    border: 0;
    margin-bottom: 20px;    
    background: transparent;

    .card-img {
      border-radius: 4px 4px 0 0;
    }

    .imgViewWrapper {
      width: 100%;
      z-index: 2
    }

    .imgView {
      object-fit: cover;
      z-index: 2;
      width: 100%;
      height: 245px;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

    .card-body {
      z-index: 1;
      margin-right: rem(16px);
      margin-left: rem(16px);
      padding: rem(24px);
      background: #fff;
      //border: 1px solid rgba(0,0,0,.1);
      border-top: 0;
    }

    &-title {
      font-weight: 600;
      line-height: 1.3;
    }

    &-text, li {
      font-size: rem(16px);
      font-weight: 400;
      line-height: 1.6;
    }

    li {
      padding: .375rem 0 0.475rem 9px;
    }

    .fa-ul {
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
    }
    
    .fa-li {
      top: 10px;
      color: $primary;
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
    }

    .adminBar {
      background-color: #ecedee;
      padding: rem(16px);
      margin-top: rem(32px);
    }    
  }

  .btn-icon {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: $gray-600;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {
      color: $gray-800;
    }
    &:focus,&:active:focus,&.active:focus,
    &.focus,&:active.focus,&.active.focus {
        outline: none !important;
    }  
  }

  .create-port-btn {
    margin-bottom: 20px;
  }
}







.masonry {
  display: grid;
  grid-gap: rem(16px);
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 0;    
}

.masonry-brick img {
  transition: opacity 0.2s ease-in-out; 
}

.masonry-brick:hover img {
   opacity: .9;
}

.FormPortfolio {
  margin-bottom: rem(24px);

  &__imgCurrent {
    width: 100%;
    max-width: 250px;
    margin-bottom: rem(16px);
  }
}

.inputFileGroup {
  padding-top: rem(16px);
}