// VARIABLES
@import './shared/variables';

// BOOSTRAP
@import "./vendors/bootstrap-custom-import";

@import './shared/fonts';
@import './shared/mixins';
@import './shared/functions';
@import './shared/utils';


// PAGES et COMPOSANTS
@import './index';
@import './portfolios';
@import './about';
@import './cv';
@import './header';
@import './memory';
@import './contact';

@import "~react-datepicker/dist/react-datepicker";

html, body {
  height:100%;
  width:100%;
  font-family: 'Montserrat', 'Helvetica';
}

.self-typed {
  font-size: rem(31px);
  font-weight: bold;
  letter-spacing: rem(2px);
  color: $white;
}

.absolute {
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.error {
  font-weight: 400;
  color: $danger;
  margin-top: rem(8px);
  text-align: right;
}

// --------- Base page -------------

.base-page {
  padding-top: rem(170px);
  color: $secondaryPerso;
  background-color: $base-page-white;
  min-height: 100vh;
  background-image: url('/static/images/background-other.png');
  background-repeat: repeat-x;
  background-position-y: 124px;
  background-position-x: 85px;
  padding-bottom: rem(40px);
  @include media-breakpoint-down(xs) {
    padding-top: 8.5rem;
  }

  .page-header {
    .page-header-title {
      font-weight: 300;
      color: $secondaryPerso;
      display: inline-block;
      margin-bottom: rem(20px);
    }
  }
}

// ---------- Utilitaires ------------
.shadow-soft {
  box-shadow: 0 rem(4px) rem(30px) rgba(42, 53, 79, 0.05) !important;
}

.op1 {
  opacity: 0.4;
}

// ---------- Bootstrap override ------------

.btn, .btn-icon {
  border-radius: rem(2px);
  padding: rem(11px) rem(19px);
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.7);
  border: none;
  &:focus,&:active:focus,&.active:focus,
  &.focus,&:active.focus,&.active.focus {
      outline: none !important;
  }  
}

@include media-breakpoint-down(md) {
  .port-navbar.port-base .port-navbar-link {
    margin-bottom: 7px;
  }

  .navbar-collapse {
    padding-top: rem(16px)
  }
}

// ---------- Photoswipe ------------

.pswp-thumbnail {
  display: inline-block;
  margin: 0 10px 10px 0;
  cursor: pointer;
  img {
    max-width: 100%;
  }
}

.pswp-thumbnail img {
  object-fit: cover;
}

.pswp__caption__center { 
  text-align: center !important;
  padding: 1rem !important;
}

// ---------- Mansory ------------

.grid-item {
  padding-bottom: rem(42px);
}
