@import './shared/fonts';
@import './shared/colors';
@import './shared/mixins';
@import './shared/functions';
@import './shared/variables';


// PAGES
@import './index';
@import './portfolios';
@import './about';
@import './cv';

@import './header';

html, body {
  height:100%;
  width:100%;
  font-family: 'Montserrat', 'Helvetica';
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.absolute {
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.error {
  font-weight: 400;
  color: red;
  margin-top: 8px;
  text-align: right;
}

// --------- BASE PAGE -------------

.base-page {
  padding-top: 170px;
  color: $secondary;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 300;
      color: $secondary;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

// ---------- Utils ------------
.shadow-soft {
  box-shadow: 0 0.25rem 1.875rem rgba(42, 53, 79, 0.05) !important;
}

// ---------- Boostrap override ------------

.btn {
  border-radius: 0.125rem;
  padding: .70rem 1.2rem;
}
